body {
    font-family: "Inter", sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

table {
    margin: auto; /* center the table */
    border-collapse: collapse;
    width: 90%;
    max-width: 900px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
    background: #4a90e2;
    color: white;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background: #f1f1f1;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
}

td {
    color: #555;
    font-size: 15px;
}

tbody tr:last-child td {
    border-bottom: none;
}
.text-center{
    text-align: center;
    padding-top: 100px;
}

.navbar {
    background: #4a90e2;
    padding: 11px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.navbar a {
    margin: 0 12px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 4px;
    transition: background 0.2s;
}

.nav-right a {
    margin-left: 20px;
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
}