{% extends 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}
    <h1>Students List</h1>
        <a href="{% url 'add_student' %}" style=" margin: 10px 50px 20px 0; padding: 8px 14px;border: 2px solid #4a90e2; color: #4a90e2; text-decoration: none; border-radius: 5px; font-size: 15px;">Add Student</a>
    <br><br>
        <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Active?</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.first_name}} {{student.last_name}}</td>
                <td>{{student.is_active}}</td>
                <td>
                    <div >
                        <a href="{% url 'view_student' student.id %}"><i class="fa fa-eye"></i></a>
                        <a href="{% url 'edit_student' student.id%}"><i class="fa fa-edit"></i></a>
                        <form action="{% url 'delete_student' student.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" style="border:none; background:none; cursor:pointer; margin-left: -5px;">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endblock %}
</body>
</html>